/*
Template Qt Style Sheet defining the main elements that will change based on the selected color palette (see the JSON files). 
*/


/* ===== Base Application Background ===== */
QWidget {
    background-color: $background;       
    color: $text;                  
    font-size: 16px;
}

/*==== Text entry ===== */ 
QLineEdit, QTextEdit, QPlainTextEdit, QSpinBox, QDoubleSpinBox {
    color: $text;
    background-color:  #FFFFFF; 
}


/* ===== Component Containers ===== 
    Different categories: 
    - regular containers
    - 'accented containers' shown with background color. 

*/
QWidget[role="standard"] {
    background-color: $neutral_accent;
    border: 1px solid $neutral_accent;
    border-radius: 6px;
    padding: 5px 10px;
}

QWidget[role="accent"] {
    border: 2px solid $primary;
    border-radius: 6px;
    padding: 5px 15px;
}
/* ===== Labels ===== */
QLabel {
    color: $text;              
}

/* ===== Buttons ==== 
    Different categories: 
    - buttons that apply an action ('add', 'apply', etc.)
    - buttons that undo an action ('remove', 'undo', ...)
    - neutral buttons (no special color wanted here / will be given a neutral color)
    - accent buttons (an alternative color will be given here). 
*/
QPushButton{
    border-right: 3px $neutral_accent;
    border-bottom: 3px $neutral_accent;

}
QPushButton:pressed{
    margin-top: 5px;
}

QPushButton[role="apply"] {
    background-color: $primary;
    color: #FFFFFF; 
 }

QPushButton[role="undo"] {
    background-color: $secondary;
    color: #FFFFFF; 
 }  

QPushButton[role="neutral"] {
    background-color: $neutral_accent;
    color: #FFFFFF; 
 }  



QPushButton[role="accent"] {
    background-color: $accent;
    color: #FFFFFF; 
 }  



/*==== Indicators / Checkboxes =====*/ 
QCheckBox {
    spacing: 0px;
}

QCheckBox::indicator:unchecked {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0.448276 $neutral_accent, stop:0.517241 rgba(255, 255, 255, 255));
    border: 2px solid white;
}

QCheckBox::indicator:checked {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0.482759 rgba(255, 255, 255, 255), stop:0.492611 $secondary);
    border: 2px solid white;

}

QCheckBox::indicator:unchecked:hover {
    border: 2px solid $secondary;
}

QCheckBox::indicator:checked:hover {
    border: 2px solid $secondary;
}

QRadioButton::indicator {
	background-color: $primary;
}



/* === Progressbar ===*/
QProgressBar {
    border: 2px solid $neutral_accent;
    border-radius: 10px;
    text-align: center;
    background-color: $neutral_accent;
    color: $text;
    font-weight: bold;
    font-size: 16px;
    min-height: 40px;
    max-height: 40px;
    min-width: 300px;
}

QProgressBar::chunk {
    background-color: $primary

}


/*==== Menu Bar (limited effect on MacOS) ===== */ 
QMenuBar { 
    background-color: $primary;
    color: #FFFFFF; 
}

QMenuBar::item:selected {
    background-color: $primary;
}

QMenuBar::item:pressed {
    background-color: $primary;
}

